<div ng-app="dogs">
  <div class="view-container">
    <div ng-view class="view-frame animate-view">
    <ul>
      <% @dogs.each do |dog| %>
        <%= link_to dog.name, @dog%>  
      <% end %>
    </ul>
    </div>
  </div>
</div>
